<h2>Projects</h2>

<% if @projects.any? %>
  <table>
    <tr> <th>ID</th><th>Title</th> </tr>
    <% @projects.each do |project| %>
      <tr>
          <td><%= project.id%></td>
          <td><span class="detail-display"><a href="/projects/<%= project.id %>" title="Project Details"><%=project.title%></a></span></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>There are no projects to display.</p>
<% end %>

<h3>Create a New Project</h3>

<form action="/new_project" method="post">
  <div class="form-group">
    <input name="title" class="form-control" type="text" placeholder="Project Title">
  </div>
  <button type="submit" class="btn btn-success">Create Project</button>
</form>
