<h2>Projects</h2>

<% if @projects.any? %>
  <table>
    <tr> <th>ID</th><th>Title</th> </tr>
    <% @projects.each do |project| %>
      <tr>
          <td><%= project.id%></td>
          <td><a href="/projects/<%= project.id %>" title="Project Details"><%=project.title%></a></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>There are no projects to display.</p>
<% end %>

<h3>Add a New Project</h3>

<form action="/new_project" method="post">
  <div class="form-group">
    <label for="title">Project title</label>
    <input name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>
